# IDE
.idea/
.vscode/
*.iml

# Gradle
.gradle/
build/
captures/
local.properties

# Generated
bin/
gen/
out/

# Native
.externalNativeBuild/
.cxx/
*.so
*.o

# Android
*.apk
*.aab
*.ap_
*.dex

# Logs
*.log
.DS_Store

# Project specific
.worktool/